<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="startMinMenuItem" value="true" />
    <add key="minTrayMenuItem" value="true" />
    <add key="minCloseMenuItem" value="true" />
    <add key="startupMenuItem" value="true" />
    <add key="runWebServerMenuItem" value="true" />
    <add key="authWebServerMenuItem" value="false" />
    <add key="listenerPort" value="8085" />
    <add key="updateIntervalMenuItem" value="2s" />
  </appSettings>
</configuration>
